@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main-light: #1976d2;
  --primary-main-dark: #90caf9;
  --background-default-light: #f4f6f8;
  --background-default-dark: #121212;
  --background-paper-light: #ffffff;
  --background-paper-dark: #1e1e1e;
  --text-primary-light: #000000;
  --text-primary-dark: #ffffff;
}
